# Dependencias
node_modules
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# Entorno
.env
.env.local

# Archivos .md (excepto el README)
*.md
!README.md

# Editor / SO
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
